:root {
    // background-color: #1E1E1E;
    background-color: black;
    font-family: Inter, sans-serif;
    color: wheat;
}

::selection {
    background-color: #f81ce5;
}

html {
    // cursor: none;
}

body {
    margin: 0px;
    padding: 0px;
}

span {
    &::selection {
        color: white;
    }
}

#circularcursor {
    background-color: transparent;
    border: 1px solid #d0d0d052;    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.sticky-img {
    .sticky-image {
        position: fixed;
        width: auto;
        height: auto;
        // object-fit: cover;
        z-index: -1;
        animation: scale 4000ms ease-in-out forwards infinite;
        filter: saturate(5);
    }
    .top-left {
        top: 0;
        left: 0;
        // animation: scale 4000ms ease-in-out forwards infinite;
    }
    .bottom-right {
        bottom: 0;
        right: 0;
        // transform: rotate(180deg);
        // animation: scale 4000ms ease-in-out forwards infinite;
    }
}

/* Style the header with a grey background and some padding */
.header {
    position: sticky;
    overflow: hidden;
    // background-color: #1E1E1E;
    backdrop-filter: none;
    transition: all 0.3s ease-in-out;
    top: 0;
    padding: 20px 10px;
    z-index: 2;
}

.header-active {
    border-bottom: 1px solid #ffffff2e;
}
  
/* Style the header links */
.header a {
float: left;
color: #a1a1a1;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
font-size: 25px;
font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
color: whitesmoke;
}

/* Style the active/current link*/
.header a.active {
color: whitesmoke;
}

/* Float the link section to the right */
.header-right {
float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
.header a {
    float: none;
    display: block;
    text-align: left;
}
.header-right {
    float: none;
}
}

.sg-heading {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
            font-weight: 800;
            font-size: 2em;
            color: #FFFFFF;
            text-align: center;
            margin-right: .25em; 
            display: inline-block;
            
            &:nth-child(1) {
                // color: #FFABE2;
                animation: Color 4s linear infinite;
                -webkit-animation: Color 4s ease-in-out infinite; 
            }
            &:nth-child(2) {
                color: #00B3FF;
            }
            &:nth-child(3) {
                color: #FFABE2;
            }
        }
    }
    span {
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: -.02em;
        line-height: 1.6em!important;
        color: #888;
        text-align: center;
    }

    .animated-heading {
        // font-size: 36px;
        color: white;
        // display: inline-block;

        .word {
            color: white;
            display: inline-block;
            transition: color 1s ease-in-out;
            animation: animateColor 3s linear infinite;            
        }
        .animation {
            background: linear-gradient(
                to right,
                #7953cd 20%,
                #00affa 30%,
                #0190cd 70%,
                #764ada 80%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            background-size: 500% auto;
            animation: textShine 5s ease-in-out infinite alternate;
        }
    }    
}

.sg-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;

    .sg-button {
        border-radius: 7px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        margin: 0 10px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
            // transform: scale(1.1, 1.1);
            transform-origin: center;
            transform: scale(1.1) translateY(-5%);
        }
    }

    .contact {
        background-color: #FFFFFF;
        color: #000000;
        font-size: 15px;
        &:hover {
            background-color: #dfdfdf;
        }
    }

    .project {
        color: #FFFFFF;
        font-size: 15px;
        position: relative;
        box-shadow: 0px 4px 35px 1px #ffabe245;
        animation: animateBoxShadow 1s infinite alternate ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 7px; 
            border: 3px solid transparent;
            background: linear-gradient(45deg,#FFABE2,#00B3FF) border-box;
            -webkit-mask:
                linear-gradient(#fff 0 0) padding-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
    }
}

.image-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inline-span-div {
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    
}

.inline-span {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    color: #888;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
        margin: 0 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all 0.3s ease-in-out;
        }
    }
}

.etap1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px 0;
    img {
        width: 236px;
        height: 181px;
        margin: 50px 0;
        z-index: 1;
        position: relative;
    }

    h2, span {
        z-index: 1;
        position: relative;
    }

    .zalety {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
        
        .div1 { grid-area: 1 / 2 / 1 / 2; }
        .div2 { grid-area: 1 / 3 / 1 / 3; }
        .div3 { grid-area: 1 / 4 / 1 / 4; }
        .div4 { grid-area: 2 / 2 / 2 / 2; }
        .div5 { grid-area: 2 / 3 / 2 / 3; }
        .div6 { grid-area: 2 / 4 / 2 / 4; }

        .element {
            background-color: rgb(14, 14, 14);;
            padding: 20px;
            color: #D0D0D0;
            transition: all 0.3s ease-in-out;
            border-radius: 7px;
            position: relative;
            overflow: hidden;

            &:hover { 
                // // box-shadow: 0px 0px 10px #00b3ff4b;
                // transition: all 0.3s ease-in-out;
                // transform: scale(1.1);
                // background: rgb(1,50,120);
                // background: linear-gradient(22deg, rgba(1,50,120,1) 0%, rgba(5,74,159,1) 35%, rgba(0,212,255,1) 100%);
                &::before {
                    opacity: 1;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(14, 14, 14);
                background-image: linear-gradient(22deg, rgba(1, 50, 120, 1) 0%, rgba(5, 74, 159, 1) 35%, rgba(0, 212, 255, 1) 100%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 0;
            }

            img {
                width: 75px;
                height: 75px;
                margin: 0 auto;
                // filter: invert(1);
            }
        }
    }

    .title {
        text-align: center;
        margin: 0 15%;
        margin-bottom: 50px;
        span {
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: -0.02em;
            line-height: 1.6em !important;
            color: #888;
            text-align: center;
        }
    
        h1 {
            font-size: 60px;
            color: white;
        }
    }
    
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.line {
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.096);
  overflow: hidden;
  z-index: -1;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff1c 75%, #ffffff1c 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
}

.onas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    .opis {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        .tekst {
            width: 50%;
            text-align: left;
            h1 {
                color: #fff;
            }
            span {
                text-transform: none;
                display: inherit;
                text-align: left;
                width: 80%;
            }
        }
        .mapa {
            filter: opacity(0.2);
            position: absolute;
            left: -10em;
            z-index: -1;
        }
        .elementy {
            // display: grid;
            // grid-template-columns: repeat(2, 200px);
            // grid-template-rows: repeat(3, 200px);
            // grid-column-gap: 50px;
            // grid-row-gap: -50px;
            // .div1 { grid-area: 2 / 1 / 3 / 2; }
            // .div2 { grid-area: 1 / 2 / 2 / 3; }
            // .div3 { grid-area: 3 / 2 / 4 / 3; }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            row-gap: 25px;

            .left-side {

            }

            .right-side {
                display: flex;
                flex-direction: column;
                column-gap: 25px;
            }

            .element {
                background-color: rgb(14, 14, 14);;
                padding: 20px;
                color: #D0D0D0;
                transition: all 0.3s ease-in-out;
                border-radius: 7px;
                width: 250px;
                height: 150px;
                padding: auto;
                margin: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
    
                // &:hover { 
                //     box-shadow: 0px 0px 10px #00b3ff4b;
                //     transition: all 0.3s ease-in-out;
                //     transform: scale(1.1);
                // }

                &:hover { 
                    // // box-shadow: 0px 0px 10px #00b3ff4b;
                    // transition: all 0.3s ease-in-out;
                    // transform: scale(1.1);
                    // background: rgb(1,50,120);
                    // background: linear-gradient(22deg, rgba(1,50,120,1) 0%, rgba(5,74,159,1) 35%, rgba(0,212,255,1) 100%);
                    &::before {
                        opacity: 1;
                    }
                }
    
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(14, 14, 14);
                    background-image: linear-gradient(22deg, rgb(120, 1, 96) 0%, rgb(126, 5, 159) 35%, rgb(230, 0, 255) 100%);
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    z-index: 0;
                    border-radius: 7px;
                }
    
                img {
                    width: 55px;
                    height: 55px;
                    // margin: 0 auto;
                    // filter: invert(1);
                    z-index: 1;
                }

                h2 {
                    text-align: left;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}
//   &:nth-child(1) {
//     margin-left: -25%;
//     &::after {
//       animation-delay: 2s;
//      }
//     }

//   &:nth-child(3){
//     margin-left: 25%;
//     &::after {
//       animation-delay: 2.5s;
//     }
//     }

.karuzela {
    position: relative;
    width: 100%;
}

.notCurrentCard {
    opacity: 0.5;
    display: block;
}

.currentCard {
    opacity: auto;
    display: block;
    z-index: 999;
}

.hideCard {
    display: none;
}


/*Magic happens here!*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideOutCenterLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 3s ease-in-out;
    }
}

@keyframes slideCenterLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 3s ease-in-out;
    }
}

.slideOutCenterLeft {
    -webkit-animation-name: slideOutCenterLeft;
    animation-name: slideOutCenterLeft;
}

@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        /*visibility: hidden;*/
        -webkit-transform: translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
        transition: all 3s ease-in-out;
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        /*visibility: hidden;*/
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
        transition: all 3s ease-in-out;
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

@-webkit-keyframes reverseSlideOutCenterLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 3s ease-in-out;
    }
}

@keyframes reverseSlideOutCenterLeft {
    from {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 3s ease-in-out;
    }
}

.reverseSlideOutCenterLeft {
    -webkit-animation-name: reverseSlideOutCenterLeft;
    animation-name: reverseSlideOutCenterLeft;
}

@-webkit-keyframes reverseSlideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
        transition: all 3s ease-in-out;
    }
}

@keyframes reverseSlideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(-100%, 0, 0);
        transform: scale(0.8) translate3d(-100%, 0, 0);
        transition: all 3s ease-in-out;
    }
}

.reverseSlideOutLeft {
    -webkit-animation-name: reverseSlideOutLeft;
    animation-name: reverseSlideOutLeft;
}

@-webkit-keyframes reverseSlideOutRight {
    from {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
}

@keyframes reverseSlideOutRight {
    from {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: scale(0.8) translate3d(100%, 0, 0);
        transform: scale(0.8) translate3d(100%, 0, 0);
    }
}

.reverseSlideOutRight {
    -webkit-animation-name: reverseSlideOutRight;
    animation-name: reverseSlideOutRight;
}

.cards {
    height: 300px;
    top: 25%;
    transition: all .2s ease-out;
    background: #4A148C;
    width: auto;
    margin: auto;
    right: 20%;
    left: 20%;
    border-radius: 19px;
    position: absolute;
    box-shadow: -1px 15px 30px -12px black;
    img {
        width: 100%;
        height: 100%;
        border-radius: 19px;
    }
}


/*mobile devices like iphone*/

@media (max-width: 461px) {
    .cards {
        right: 5%;
        left: 5%;
    }
}


/* big landscape tablets, laptops, and desktops */

@media (min-width:1025px) {
    .cards {
        right: 35%;
        left: 35%;
    }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:641px) and (max-width:961px) {
    .cards {
        top: 25%;
        right: 25%;
        left: 25%;
    }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:962px) and (max-width:1024px) {
    .cards {
        right: 30%;
        left: 30%;
    }
}

@keyframes drop {
    0% {
        top: -50%
    }
    100% {
        top: 110%;
    }
}

@keyframes animateBoxShadow {
    0% {
        box-shadow: 0px 0px 30px #ffabe263;
    }
    100% {
        box-shadow: 0px 0px 65px #ffabe29f;
    }
}

@keyframes animateColor {
    0%, 100% {
        color: inherit;
    }
    50% {
        color: white;
    }
}

@keyframes Color {
    0% {
        background: -webkit-linear-gradient(#ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: -webkit-linear-gradient(#ff0000, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient(#ffffff, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}   

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }

@keyframes textShine {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}